body .ui-orderlist .ui-orderlist-controls{display:none}
body .ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-highlight{background-color:#3f51b5;color:#fff}
body .ui-orderlist .ui-orderlist-list .ui-orderlist-item{padding:.429em .857em;margin:0;border:0 none;color:#333;text-align:left;background-color:transparent}
body .ui-orderlist .ui-orderlist-filter-container input.ui-inputtext{width:100%;padding-right:2em;text-indent:0;text-align:left}
/* .wrapper{text-align:center} */
/* .button{position:absolute;} */