
<p-orderList [value]="cars" [listStyle]="{'height':'400px'}" header="Todo List" filter="filter" filterBy="brand"
    filterPlaceholder="Filter by brand" dragdrop="true" class="orderlist">

    <ng-template let-car pTemplate="item">

        <div class="ui-helper-clearfix">
            <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
            <div>{{car.brand}} - {{car.year}} - {{car.color}}</div>
        </div>
    </ng-template>
</p-orderList>