<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">PWA Practice</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li title="Sign In">
                <a href="javascript:void(0);" routerLink="/owner"><i class="pi pi-sign-in"></i></a>
            </li>
            <!-- <li title="Sign Out">
                <a href="javascript:void(0);" routerLink="/owner"><i class="pi pi-sign-out"></i></a>
            </li> -->
        </ul>
    </div>
</mat-toolbar>